body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    height: 200px;
    border-radius: 25px;
}

.card {
    width: 400px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #F4F3EE;
    color: #463F3A;
    border-bottom: 6px solid #E0AFA0;
    border-radius: 25px;
}

.data {
    margin: auto
}
